
/*Exercícios - CSS Zen Garden*/
 /*Color Theme Swatches in Hex 
.wilderness-landscape-with-green-vegetation-1-hex { color: #34401A; }
.wilderness-landscape-with-green-vegetation-2-hex { color: #64732F; }
.wilderness-landscape-with-green-vegetation-3-hex { color: #CAD959; }
.wilderness-landscape-with-green-vegetation-4-hex { color: #B4BF5E; }
.wilderness-landscape-with-green-vegetation-5-hex { color: #252617; }*/


/*Exercícios - Estilização textual*/
html{
    background-color: #B4BF5E;
    color: #34401A;
    font: size 21px;
    font-family: ubuntu, Arial, Helvetica, sans-serif;
    width: 80%;
    max-width: 1280px;
    margin-left: 10%;
    margin-right: 10%;

}
header{
 background-color: #34401A ;
 color: #B4BF5E; 
   }

.design-archives{
    display: none;
}
.intro{ 
    height: 550px;
}
.destaque{
    color: #252617;
}
p{
    text-indent: 1em;
}
h1, h2, h3{
    text-align: center;
}
h1{ font-size: 1.8rem;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    }
h2{font-size: 1.4rem;
    display: inline-block;                                                                                                                                                                              
}
h3{font-size: 1.2rem;
}
.preamble{
    text-align: center;
}
.mainsupporting p {
    line-height: 1.5;
}
.abbr{
    font: small-caps
}

/*Exercícios - Box Model*/

aside ul li{
    list-style-type: none;
    margin: 1em;
    text-align: center;
   }
footer{
    margin: 4%;
   }
footer a{
    display: inline-block;
    border: solid 2px;
    padding: 0.5em;
    text-align: center;
    background-color: #34401A ;
    color: #B4BF5E; 
   }

/*Exercícios - Posicionamento*/

  .page-wrapper{
    position: relative;
  }
  .explanation {
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid; 
    border-right-color: #34401A ;
    padding-right: 2%;
    
 }
  .design-selection{
    position: absolute;
    top: 450px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    left: 62%;
          }

/*Exercícios - Flexbox*/

     .supporting footer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .zen-validate-html{
        flex-grow: 1;
      }
      .zen-validate-css{
        flex-grow: 1;
      }
      .zen-license{
        flex-grow: 1;
      }
      .zen-accessibility{
        flex-grow: 1;
      }
      .zen-github{
        flex-grow: 1;
      }
      .benefits{
        display: flex;
        border-top: #34401A solid 1px;
        border-bottom: #34401A solid 2px;
      }
     
      .benefits h3{
        order: 2;
        align-self: center;
        flex-basis: 30%;
      }
      
      .benefits p{
        flex-basis: 70%;
      }
      .participation{
        display: flex;
        flex-wrap: wrap;
        border-top: #34401A solid 2px;
      }
      .participation h3{
        flex-basis: 50%;
        align-self: center;
        border-bottom: solid 2px #B4BF5E;
        border-top: solid 10px #B4BF5E;
      }

      .participation p{
        flex-basis: 50%;
      }
      
      /*Exercícios - Pseudo classes*/
   
       a{
        color:  #252617;
        font-weight: bold;
      }
       a:hover{
        color:#64732F;
      }
      a:visited{
        font-weight:normal;
        color:#485202
      }

      .p1:first-letter{
        font-family: verdana;
        font-size: 3em;
        float:left;
      }
      .design-selection li{
         border-top: #34401A solid 1px;
      }
       .design-selection li:last-child{
          border-bottom: #34401A solid 1px ;
      }    
      
      /*Exercícios - Media query*/
      
      @media screen and (max-width: 768px) {
        .design-selection{
          position: static;
          width:100%
        }
        
        .explanation{
          border-right: none;
          width: 100%;
        }
        .intro{ 
          height: auto;
        }
        .participation{
        display direction: column;
        }
        p{
          text-indent: 0;
        }
    }
      
      @media print{
        html{
          font-family: 'Times New Roman', Times, serif;
        }
        header{
          background-color: #B4BF5E;
          color: #34401A; 
      } 
    }